.ToDoSearch {
    background: var(--powder-blue);
    border-radius: 2px;
    border: 2px solid var(--celadon-blue);
    margin: 0 24px 0;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: var(--prussian-blue);
    box-shadow: 0px 5px 50px var(--honeydew);
}

.ToDoSearch:focus {
    outline-color: var(--powder-blue);
}